/* Borde con colores en CSS */
body{
    font-size: 100%;
}

h1{
    background-color: hsla(18, 100%, 50%, .5);  
    border: double #eee 10px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;  
    font-style: italic;
    font-size: 1em; /* 40px/16 */
    text-align: center;
    color: #fff;
}

p{
    /* white-space: pre-line; */
    word-spacing: 3px;
}

a{
    text-decoration: none;
}